# ======= FRONT (B2C/External ID) =======
NEXT_PUBLIC_B2C_CLIENT_ID=<APP_ID_B2C_PUBLIC_CLIENT>
NEXT_PUBLIC_B2C_AUTHORITY=https://<tu-dominio>.b2clogin.com/<tu-dominio>.onmicrosoft.com/<B2C_FLOW>
NEXT_PUBLIC_B2C_KNOWN_AUTHORITIES=<tu-dominio>.b2clogin.com
NEXT_PUBLIC_B2C_REDIRECT_URI=http://localhost:3000/

# ======= BACKEND (Confidential - OBO) =======
TENANT_ID=<GUID_TENANT>
API_CLIENT_ID=<APP_ID_CONFIDENCIAL>
API_CLIENT_SECRET=<CLIENT_SECRET>
API_AUTHORITY=https://login.microsoftonline.com/<TENANT_ID>/

# ======= SHAREPOINT =======
SP_HOSTNAME=<miempresa.sharepoint.com>
SP_SITE_PATH=sites/Soporte
SP_LIST_TICKETS=Tickets
SP_DOC_LIB_TICKETS=Ticket GSB
SP_DOC_LIB_HIST=Tickets-Historico

# ======= ROLES =======
CTRL_GROUP_ID=<GUID_Entra_Group_Tickets-Control>

# ======= POWER AUTOMATE (Opcional por ahora) =======
FLOW_CREATE_TICKET_URL=
FLOW_ADD_RESPONSE_URL=
FLOW_CLOSE_TICKET_URL=
FLOW_HEADER_KEY=
